In [176]:
import pandas as pd
import pandas_ta as ta
import yfinance as yf
import pytz
from datetime import datetime, timedelta
import plotly.graph_objects as go
import MetaTrader5 as mt5
import webbrowser
import os

In [177]:
def chart(df):    
    df.columns = df.columns.str.lower()
    # Assuming your candlestick chart code
    fig = go.Figure(data=[go.Candlestick(
        x=df.index,
        open=df['open'],
        high=df['high'],
        low=df['low'],
        close=df['close']
    )])
    
    # Customize chart
    fig.update_layout(
        title='Candlestick Chart',
        yaxis_title='Price',
        xaxis_title='Date',
        xaxis_rangeslider_visible=False
    )
    
    # Save chart as an HTML file
    output_file = "candlestick_chart.html"
    fig.write_html(output_file)
    
    

    
    # Open the saved chart in the default browser
    return webbrowser.open(f"file://{os.path.abspath(output_file)}")

## Fetching Data

In [178]:
df = pd.DataFrame()
gold_df = yf.Ticker('GC=F').history(period='1mo', interval='30m')
gold_day = yf.Ticker('GC=F').history(period='1y', interval='1d')

In [179]:
gold_df.index = gold_df.index.tz_convert('Africa/Nairobi')

In [ ]:
gold_df.tail(60)

In [181]:
chart(gold_day)

True

In [182]:
gold_day.tail()

                                  open         high          low        close  volume  dividends  stock splits
Date
2025-01-10 00:00:00-05:00  2686.100098  2720.100098  2683.699951  2708.500000     403        0.0           0.0
2025-01-13 00:00:00-05:00  2711.100098  2711.199951  2673.500000  2673.500000     765        0.0           0.0
2025-01-14 00:00:00-05:00  2673.600098  2688.300049  2670.800049  2677.500000     794        0.0           0.0
2025-01-15 00:00:00-05:00  2690.800049  2712.500000  2690.800049  2712.500000     794        0.0           0.0
2025-01-23 00:00:00-05:00  2765.899902  2766.399902  2741.000000  2750.199951   99671        0.0           0.0

In [183]:
def mt5Ticker(symbol, timeframe, start_time, end_time):
    if not mt5.initialize():
        print("Failed to initialize MT5")
        quit()
    
    # Retrieve daily candlestick data
    rates = mt5.copy_rates_range(symbol, timeframe, start_time, end_time)
    
    # Shutdown MT5
    mt5.shutdown()
    
    # Convert to a Pandas DataFrame
    if rates is not None:
        df = pd.DataFrame(rates)
        df['time'] = pd.to_datetime(df['time'], unit='s')  # Convert time to datetime
        return df
    else:
        print("No data retrieved")

In [184]:
gold_daily = mt5Ticker('XAUUSD', timeframe=mt5.TIMEFRAME_D1, start_time=datetime(2023, 1, 1), end_time=datetime.now())

# symbol = symbol  # Replace with your desired symbol
# timeframe = mt5.TIMEFRAME_D1  # Daily timeframe
# start_time = datetime(2023, 1, 1)  # Start date
# end_time = datetime(2024, 1, 1)  # End date

In [185]:
gold_daily

          time     open     high      low    close  tick_volume  spread  real_volume
0   2023-01-03  1823.92  1849.99  1823.59  1839.38       134617       0       153305
1   2023-01-04  1838.80  1865.07  1836.08  1854.54       122036       0       170895
2   2023-01-05  1854.02  1858.90  1824.99  1832.91       116357       0       156610
3   2023-01-06  1830.19  1869.84  1830.19  1865.71       117490       0       151367
4   2023-01-09  1867.21  1881.42  1866.24  1871.62       114442       0       137177
..         ...      ...      ...      ...      ...          ...     ...          ...
526 2025-01-17  2714.22  2717.44  2699.07  2702.90       345439      21            0
527 2025-01-20  2702.86  2713.80  2689.30  2706.42       315793      19            0
528 2025-01-21  2707.07  2745.95  2702.80  2744.58       414315      21            0
529 2025-01-22  2744.54  2763.25  2741.75  2756.07       349492      13            0
530 2025-01-23  2755.85  2756.52  2735.99  2744.66       232927      21            0

[531 rows x 8 columns]

In [186]:
gold_15 = mt5Ticker('XAUUSD', timeframe=mt5.TIMEFRAME_M15, start_time=datetime(2023, 1, 1), end_time=datetime.now())

In [187]:
gold_15.head()

                 time     open     high      low    close  tick_volume  spread  real_volume
0 2023-01-03 01:00:00  1823.92  1830.06  1823.59  1826.30         4434       0          730
1 2023-01-03 01:15:00  1826.30  1828.83  1823.64  1827.79         1750       0          480
2 2023-01-03 01:30:00  1827.79  1828.27  1826.89  1827.69          930       0          588
3 2023-01-03 01:45:00  1827.62  1829.29  1827.60  1829.26          802       0          559
4 2023-01-03 02:00:00  1829.26  1831.93  1828.61  1831.49         1196       0          917

In [188]:
chart(gold_15)

True

In [189]:
chart(gold_daily)

True

In [190]:
help(ta.fibonacci)

Help on function fibonacci in module pandas_ta.utils._math:

fibonacci(n: int = 2, **kwargs: dict) -> numpy.ndarray
    Fibonacci Sequence as a numpy array

In [191]:
fibonacci_levels = ta.fibonacci(df=gold_15, high='High', low='Low', period=1)

In [192]:
fibonacci_levels

array([1, 1])

In [193]:
def calculate_fibonacci(df):
    """
    Calculate basic Fibonacci levels for each day in the given DataFrame.
    The function considers the daily High and Low, and the Close price.
    
    Args:
        df (pd.DataFrame): DataFrame containing 'Open', 'High', 'Low', 'Close' for each day.

    Returns:
        pd.DataFrame: The input DataFrame with Fibonacci levels for each day.
    """
    df.columns = df.columns.str.lower()    
    fibonacci_levels = ['fib_0.0', 'fib_0.236', 'fib_0.382', 'fib_0.5', 'fib_0.618', 'fib_1.0']
    
    # Create empty columns for Fibonacci levels
    for level in fibonacci_levels:
        df[level] = None
    
    for index, row in df.iterrows():
        high = row['high']
        low = row['low']
        close = row['close']
        open_ = row['open']
        
        # Bullish day: Close > Open
        if close > open_:
            fib_range = high - low
            fib_base = low
        # Bearish day: Close < Open
        else:
            fib_range = low - high
            fib_base = high
        
        # Calculate Fibonacci levels
        for level, ratio in zip(fibonacci_levels, [0.0, 0.236, 0.382, 0.5, 0.618, 1.0]):
            df.at[index, level] = fib_base + fib_range * ratio
    
    return df

In [194]:
calculate_fibonacci(gold_daily)

          time     open     high      low    close  tick_volume  spread  real_volume  fib_0.0   fib_0.236   fib_0.382   fib_0.5   fib_0.618  fib_1.0
0   2023-01-03  1823.92  1849.99  1823.59  1839.38       134617       0       153305  1823.59   1829.8204   1833.6748   1836.79   1839.9052  1849.99
1   2023-01-04  1838.80  1865.07  1836.08  1854.54       122036       0       170895  1836.08  1842.92164  1847.15418  1850.575  1853.99582  1865.07
2   2023-01-05  1854.02  1858.90  1824.99  1832.91       116357       0       156610   1858.9  1850.89724  1845.94638  1841.945  1837.94362  1824.99
3   2023-01-06  1830.19  1869.84  1830.19  1865.71       117490       0       151367  1830.19   1839.5474   1845.3363  1850.015   1854.6937  1869.84
4   2023-01-09  1867.21  1881.42  1866.24  1871.62       114442       0       137177  1866.24  1869.82248  1872.03876   1873.83  1875.62124  1881.42
..         ...      ...      ...      ...      ...          ...     ...          ...      ...         ...         ...       ...         ...      ...
526 2025-01-17  2714.22  2717.44  2699.07  2702.90       345439      21            0  2717.44  2713.10468  2710.42266  2708.255  2706.08734  2699.07
527 2025-01-20  2702.86  2713.80  2689.30  2706.42       315793      19            0   2689.3    2695.082    2698.659   2701.55    2704.441   2713.8
528 2025-01-21  2707.07  2745.95  2702.80  2744.58       414315      21            0   2702.8   2712.9834   2719.2833  2724.375   2729.4667  2745.95
529 2025-01-22  2744.54  2763.25  2741.75  2756.07       349492      13            0  2741.75    2746.824    2749.963    2752.5    2755.037  2763.25
530 2025-01-23  2755.85  2756.52  2735.99  2744.66       232927      21            0  2756.52  2751.67492  2748.67754  2746.255  2743.83246  2735.99

[531 rows x 14 columns]

In [195]:
def calculate_fibonacci_levels(df):
    """
    Calculate basic Fibonacci levels for each day in the given DataFrame.
    The function considers the daily High and Low, and the Close price.
    
    Args:
        df (pd.DataFrame): DataFrame containing 'Open', 'High', 'Low', 'Close' for each day.
    
    Returns:
        list: List of Fibonacci levels.
    """
    fibonacci_levels = ['fib_0.0', 'fib_0.236', 'fib_0.382', 'fib_0.5', 'fib_0.618', 'fib_1.0']
    fib_data = []

    for index, row in df.iterrows():
        high = row['high']
        low = row['low']
        close = row['close']
        open_ = row['open']
        
        # Bullish day: Close > Open
        if close > open_:
            fib_range = high - low
            fib_base = low
        # Bearish day: Close < Open
        else:
            fib_range = low - high
            fib_base = high
        
        # Calculate Fibonacci levels
        fib_dict = {}
        for level, ratio in zip(fibonacci_levels, [0.0, 0.236, 0.382, 0.5, 0.618, 1.0]):
            fib_dict[level] = fib_base + fib_range * ratio
        
        fib_data.append(fib_dict)
    
    return pd.DataFrame(fib_data, index=df.index)

def chart_fib(df, fibonacci=False):
    # Ensure column names are in lowercase
    df.columns = df.columns.str.lower()
    
    # Create candlestick chart
    fig = go.Figure(data=[go.Candlestick(
        x=df.index,
        open=df['open'],
        high=df['high'],
        low=df['low'],
        close=df['close']
    )])
    
    # Add Fibonacci retracement lines if requested
    if fibonacci:
        fib_levels = calculate_fibonacci_levels(df)
        
        for level in ['fib_0.0', 'fib_0.236', 'fib_0.382', 'fib_0.5', 'fib_0.618', 'fib_1.0']:
            fig.add_trace(go.Scatter(
                x=fib_levels.index, 
                y=fib_levels[level],
                mode='lines', 
                name=level, 
                line=dict(width=2)
            ))
    
    # Customize chart layout
    fig.update_layout(
        title='Candlestick Chart with Fibonacci Levels',
        yaxis_title='Price',
        xaxis_title='Date',
        xaxis_rangeslider_visible=False
    )
    
    # Save chart as an HTML file
    output_file = "candlestick_chart_with_fib.html"
    fig.write_html(output_file)
    
    # Open the saved chart in the default browser
    return webbrowser.open(f"file://{os.path.abspath(output_file)}")

In [196]:
chart_fib(gold_daily, fibonacci=True)

True

In [209]:
gold_15.head()

                 time     open     high      low    close  tick_volume  spread  real_volume
0 2023-01-03 01:00:00  1823.92  1830.06  1823.59  1826.30         4434       0          730
1 2023-01-03 01:15:00  1826.30  1828.83  1823.64  1827.79         1750       0          480
2 2023-01-03 01:30:00  1827.79  1828.27  1826.89  1827.69          930       0          588
3 2023-01-03 01:45:00  1827.62  1829.29  1827.60  1829.26          802       0          559
4 2023-01-03 02:00:00  1829.26  1831.93  1828.61  1831.49         1196       0          917

In [198]:
def calc_fibonacci(df):
    tf = df['time'].diff()

    df['timeframe'] = tf.apply(lambda x: 15 if pd.notna(x) and x in df['time'].diff().value_counts().index else x )
    
    return df

In [221]:
gold_15['time'].head(5).diff().apply(lambda x: x.total_seconds() / 60 if pd.notna(x) else None).apply(lambda x: 15 if pd.notna(x) and x == 15 else x)

0     NaN
1    15.0
2    15.0
3    15.0
4    15.0
Name: time, dtype: float64

In [ ]:
def calc_fibonacci(df):
    # Calculate the time difference
    tf = df['time'].diff()

    # Convert time differences to minutes or strings for comparison
    time_diff_minutes = tf.apply(lambda x: x.total_seconds() / 60 if pd.notna(x) else None)

    # Update the 'timeframe' column based on matching time differences
    df['timeframe'] = time_diff_minutes

    # Get the highest and the low of the day in the form of a copy daily dataframe

    # check if the day was bull or bear

    # if it was bull then the fibonaci 0 was in the lowest point and fibonacci 100in the highest point and if bearish then vicevasa

    # get the 6.18 percentage for each day 

    # plot (with plotly) a candlestick pattern for the df that was first given 

    # plot on top of the candlestick chart a 61.8 fibonacci box of 300 points change in the direction of the precious day close ie: if the close was bull plot a bock starting from the 61.8 of the pecious day and with a box of height 300 points down and vicevasa (from the 61.8 to 300 points up),    
    

    return df

In [224]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import os
import webbrowser

def calc_fibonacci(df):
    # Calculate the time difference
    tf = df['time'].diff()

    # Convert time differences to minutes or strings for comparison
    time_diff_minutes = tf.apply(lambda x: x.total_seconds() / 60 if pd.notna(x) else None)

    # Update the 'timeframe' column
    df['timeframe'] = time_diff_minutes

    # Resample the DataFrame to get daily highs and lows
    daily_df = df.resample('D', on='time').agg({
        'high': 'max',
        'low': 'min',
        'close': 'last'
    }).dropna()

    # Determine if the day was bullish or bearish
    daily_df['direction'] = np.where(daily_df['close'] >= daily_df['low'], 'bull', 'bear')

    # Calculate the Fibonacci 61.8% level for each day
    daily_df['fib_61.8'] = daily_df['low'] + 0.618 * (daily_df['high'] - daily_df['low'])

    # Plot the candlestick chart with Fibonacci box
    fig = go.Figure()

    # Add candlestick chart
    fig.add_trace(go.Candlestick(
        x=df['time'],
        open=df['open'],
        high=df['high'],
        low=df['low'],
        close=df['close'],
        name='Candlestick'
    ))

    # Add Fibonacci 61.8% box
    for idx, row in daily_df.iterrows():
        fib_start = row['fib_61.8']
        if row['direction'] == 'bull':
            box_top = fib_start - 300
            box_bottom = fib_start
        else:  # Bearish
            box_top = fib_start
            box_bottom = fib_start + 300
        
        fig.add_shape(
            type="rect",
            x0=idx,
            x1=idx + pd.Timedelta(days=1),
            y0=box_bottom,
            y1=box_top,
            fillcolor="rgba(50, 171, 96, 0.5)" if row['direction'] == 'bull' else "rgba(255, 99, 71, 0.5)",
            line=dict(width=0)
        )

    # Update chart layout
    fig.update_layout(
        title="Candlestick Chart with Fibonacci 61.8% Box",
        xaxis_title="Time",
        yaxis_title="Price",
        xaxis_rangeslider_visible=False
    )

    # Save chart as an HTML file
    output_file = "candlestick_chart_with_fib.html"
    fig.write_html(output_file)

    # Open the saved chart in the default browser
    return webbrowser.open(f"file://{os.path.abspath(output_file)}")

In [225]:
calc_fibonacci(gold_15)

True